Test
{
	position: absolute;
	top: 50;
	left: 50;

	
	width: 1700px;
	height: 1000px;
	
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	pointer-events: all;
	overflow: hidden;

	.material-background
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		z-index: 0;
	}

	.content
	{
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 20px;
		
		background-color: rgba(0, 0, 0, 0.35);
	}

	.field
	{
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.title
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}
}